* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.calculator {
    width: 380px;
    background: #2196f3;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#display {
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: right;
    font-size: 35px;
    background: #ecf0f1;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    height: 70px;
    border: none;
    border-radius: 12px;
    background: #000000;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.operator {
    background: #4670af;
}

.clear {
    background: #c52a28;
}

.delete {
    background: #ff0000;
}

.equal {
    background: #30a236;
}

.zero {
    grid-column: span 2;
}